<div class="wrapper">
    <div class="login">
        <div class="spinner">
            <app-spinner [isSpinnerActive]="spinnerService.activateSpinner()"></app-spinner>
        </div>
        <form id="form" class="shadow-drop-bl" [formGroup]="loginForm">
            <header>
                <h1>Login</h1>
            </header>
            <main>
                <div class="rows">
                    <div class="cols">
                        <mat-form-field class="example-full-width">
                            <mat-label>E-Mail</mat-label>
                            <input matInput placeholder="Type your email address..." formControlName="email">
                            <span *ngIf="loginForm.get('email')?.hasError"></span>
                        </mat-form-field>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Type your password..." formControlName="password"
                                type="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <p>Don't have an account? <a routerLink="/register">Register here</a></p>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <button mat-raised-button matTooltip="This is a tooltip!" (click)="signIn()">Login
                        </button>
                        <button mat-raised-button matTooltip="This is a tooltip!" (click)="navigateGuest()">Guest
                        </button>
                    </div>
                </div>
            </main>
        </form>
    </div>
</div>