<app-header></app-header>
<div class="button-wrapper">
  <app-back-btn></app-back-btn>
  <app-income-btn [page]="'/income'"></app-income-btn>
  <app-income-expense-btn [page]="'income-expense-overview'"></app-income-expense-btn>
  <app-add-task-btn [pages]="'/add-tasks-overview'"></app-add-task-btn>
  <app-diagram [page]="'diagram'"></app-diagram>
</div>
<div class="wrapper">
  <div class="content-main">
    <main id="main">
      <div class="content">
        <div class="selection">
          <app-input-output [data]="inputOrOutput" (changeInputsOutput)="changeInputsOutput($event)"></app-input-output>
        </div>
        <div class="inputs">
          <mat-form-field class="example-form-field" *ngIf="isMoneyActive">
            <mat-label>How much money</mat-label>
            <input matInput type="number" [(ngModel)]="value" (ngModelChange)="readMoney($event)">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="what-kind">
            <mat-label>What kind</mat-label>
            <select matNativeControl required #data (change)="changeKindSelection(data.value)">
              <option [value]="items.id" *ngFor="let items of dataService.whichEdition">{{ items.title }} {{items.value}}€</option>
            </select>
          </mat-form-field>
        </div>
        <div class="add-button">
          <app-add-btn (click)="onClick()"></app-add-btn>
        </div>
      </div>
      <br>
      <br>
      <app-income-expense-list 
        [items]="expenseList"
        [showIncomeChanges]="false"
        [showExpenseChanges]="false"
        (changeSort)="onChangeSort($event)"
      >
    </app-income-expense-list>
    </main>
  </div>
  <footer id="footer">
    <app-footer-content></app-footer-content>
  </footer>
</div>