<app-header></app-header>
<div class="button-wrapper">
  <app-back-btn></app-back-btn>
  <app-income-btn [page]="'/income'"></app-income-btn>
  <app-output-btn [page]="'/output'"></app-output-btn>
</div>
<div class="wrapper">
    <div class="input-output">
        <label>It is: </label>
        <mat-radio-group>
          <mat-radio-button value="auto">Income</mat-radio-button>
          <mat-radio-button value="always">Output</mat-radio-button>
        </mat-radio-group>
    </div>
    <form id="form">
        <div class="form-header">
            <h2>Add task</h2>
        </div>
        <div class="content">
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="button">
            <app-add-task-btn></app-add-task-btn>
        </div>
    </form>
  <footer id="footer">
    <app-footer-content></app-footer-content>
  </footer>
</div>