<app-header></app-header>
<div class="cont">
    <header id="top-header">
        <div class="text">
            <h1>
                {{ title}}
            </h1>
            <div class="logout-btn">
                <app-logout-btn (logout)="logout()"></app-logout-btn>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="button-wrapper">
            <app-income-btn [page]="'/income'"></app-income-btn>
            <app-output-btn [page]="'/output'"></app-output-btn>
            <app-income-expense-btn [page]="'income-expense-overview'"></app-income-expense-btn>
            <app-add-task-btn [pages]="'/add-tasks-overview'"></app-add-task-btn>
            <app-diagram [page]="'diagram'"></app-diagram>
        </div>
        <div class="info-btn">
        </div>
    </div>

    <main id="main">
        <div class="article">
            <div class="header">
            </div>
            <p>
                All information about the application
            </p>
        </div>
    </main>

    <footer id="footer">
      <app-footer-content></app-footer-content>
    </footer>
</div>