
#footer {
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: var(--solid-radius);
    position: absolute;
    bottom: 0;
}

@media (min-width: 768px) {
    .wrapper {
        width: 80%;
        margin: auto;

        #footer {
            width: 80%;
            margin: auto;
        }
    }


}

@media (min-width: 1440px) {
    .wrapper {
        width: 70%;

        #footer {
            width: 70%;
        }
    }
}
