ul {
    padding: .5rem;
    display: flex;
    flex-direction: column;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: var(--text-color);

            &:hover {
                text-decoration: underline;
                color: blue;
            }
        }

    }
}

@media (min-width: 768px) {
    ul {
        flex-direction: row;
        justify-content: space-between;
    }
}



