ul {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 1rem;
    background-color: var(--bgc);
    box-shadow: var(--shadow);

    li {
        list-style: none;
        margin: .5rem 0;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


@media (min-width: 768px) {
    ul {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        border-top-left-radius: var(--solid-radius);
        border-top-right-radius: var(--solid-radius);
    }
}

@media (min-width: 1440px) {
    ul {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);

    }
}
