.container {
    width: 100%;

    box-sizing: border-box;

    @media(min-width: 768px) {
        width: 80%;
        min-height: 80vh;
        margin: auto;
        margin-top: 2rem;
    }
    .cont {

        width: 100%;


        .wrapper {
            display: flex;
            background-color: aliceblue;
            padding: 1rem;

            .button-wrapper {
            }
        }

        #main {
            padding: 1rem;
            @media(min-width: 768px) {
                min-height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .article {
                .header {

                }
            }
        }
    }
}