<div class="cont">
    <header id="top-header">
        <div class="text">
            <h1>
                {{ title}}
            </h1>
            <div class="logout-btn">
                <app-logout-btn (logout)="logout()"></app-logout-btn>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="button-wrapper">
            <app-income-btn [page]="'/income'"></app-income-btn>
            <app-output-btn [page]="'/output'"></app-output-btn>
        </div>
        <div class="info-btn">
            <app-info-btn (openInfo)="navigateToInfo()"></app-info-btn>
        </div>
    </div>

    <main id="main">
        <div class="article">
            <div class="header">
                <h2>
                    {{ greeting }}
                </h2>
            </div>
            <p>
                I've always wondered if there was an easier way to keep track of my monthly income and expenses, and do it all without a calculator. And so I decided to develop one simply for myself and for the men who need it. Have your first experience and click on the button below (Functionality) and read the description of how you can get the best out of the web app and benefit.
            </p>
        </div>
        <app-functionality-btn (navigateFunctionality)="navigateToFunctionality()"></app-functionality-btn>
    </main>

    <footer id="footer">
        <ul>
            <li>
               <a href="#">
                Data protection
               </a>
            </li>
            <li>
               <a href="#">
                Imprint
               </a>
            </li>
        </ul>
        <div class="copy">
            © {{currentDate.getFullYear()}} HouseholdCalculator
        </div>

    </footer>
</div>