<div class="wrapper">
    <div class="login">
        <div class="spinner">
            <app-spinner [isSpinnerActive]="spinnerService.activateSpinner()"></app-spinner>
        </div>
        <form id="form" class="shadow-drop-bl" [formGroup]="registForm">
            <header>
                <h1>Register</h1>
            </header>
            <main>
                <div class="rows">
                    <div class="cols">
                        <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Type your username..." formControlName="username">
                        </mat-form-field>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <mat-form-field class="example-full-width">
                            <mat-label>E-Mail</mat-label>
                            <input matInput placeholder="Type your email address..." formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Type your password..." formControlName="password"
                                type="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <mat-form-field class="example-full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Please confirm password..." formControlName="confirmPassword"
                                type="password">
                        </mat-form-field>
                    </div>
                </div>
                <!-- Login Link -->
                <div class="rows">
                    <div class="cols">
                        <p> <a routerLink="/login">Back to Login</a></p>
                    </div>
                </div>
                <div class="rows">
                    <div class="cols">
                        <button mat-raised-button matTooltip="This is a tooltip!" (click)="onSubmit()">Register
                        </button>
                        <button mat-raised-button matTooltip="This is a tooltip!" (click)="navigateBack()">Back
                        </button>
                    </div>
                </div>
            </main>
        </form>
    </div>
</div>