/* You can add global styles to this file, and also import other style files */
:root {
  // bg colors:
  --bgc: rgb(245, 245, 245);

  // colors:
  --black: rgb(25, 25, 25);

  // borders:
  --solid-border: 1px solid var(--black);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
